* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #262729;
}


/* hearder start */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    color: #ffffff;
    display: none;
    position: absolute;
    background-color: #262729;
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content-menu {
    color: rgb(241, 169, 75);
    display: none;
    position: absolute;
    background-color: #262729;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content-menu {
    display: block;
}

.dropdown .dropdown-content-menu p a{
    color: rgb(241, 169, 75);
    line-height: 2em;
    padding: 10px;
}

header {
    margin: 0px auto;
    z-index: 10;
    padding: 20px;
    width: 100%;
    display: grid;
    position: sticky;
    grid-template-columns: 40px 50px auto 40px;
    align-items: center;
    text-align: center;
    color: rgb(231, 177, 107);
    background:linear-gradient(180deg, rgba(38,39,41,1) 0%, rgba(38,39,41,0.9500175070028011) 87%, rgba(38, 39, 41, 0.5) 95%,rgba(38, 39, 41, 0) 100%);
}
header .center h2{
    font-size: 1em;
}
header .center h2 a{
    text-decoration: none;
    color: rgb(231, 177, 107);
    font-size: 1.2em;
}

header .cartlogo{
    align-self: flex-end;
    color: #ffffff;
}
 /* hear\der end */

.viewarea {
    margin: 0;
}

.container {
    margin: -10px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90vw;
    justify-content: space-around;
    background-color: rgba(153, 78, 78, 0.534);
}


.container .box {
    position: relative;
    width: 19.9%;
    height: 95vh;
    overflow: hidden;
    transition: 0.5s all;
}

.container .box:hover {
    z-index: 3;
    transform: scale(1.2);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.787);
}

.container .box .imagebox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .box .imagebox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, #262729, #262729d0, #262729);
    mix-blend-mode: normal;
    opacity: 1;
    transition: 0.5s;
}

.container .box:hover .imagebox::before {
    background: linear-gradient(180deg, #262729b6, #26272991, #26272998);
}

.container .box .imagebox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    color: #ffffff;
    transition: 0.5s;
    margin-bottom: 1em;
    font-size: 20px;
    transform: translateY(400px);
}

.container .box:hover .content {
    transform: translateY(-90px);
}
.container .box .content h2{
    color: rgb(241, 169, 75);

}
.container .box .content p{
    font-size: small;
    color: rgb(236, 205, 163);

}

.container .box .content a{
    margin-top: 3px;
    padding: 2px 10px;
    font-size: 15px;
    color: rgb(231, 177, 107);
    background-color: #262729b9;
    box-shadow: 0px 0px 22px -5px rgba(0, 0, 0, 0.918);
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.5s;
}
.container .box .content a:hover{
    background-color: #262729e7;
    color: rgb(241, 169, 75);

}

/* home page ends here */
.container3{
    margin: 0 auto;
    padding-top: 30px;
    width: 90vw;
    position: relative;
    display: grid;
    grid-template-columns: 20vw auto;    
    justify-content: space-between;
    align-items: center;
}
.container3 h1{
    color: rgb(241, 169, 75);
    padding: 10px;
}
.aboutus{
    color: rgb(223, 181, 128);
}


.container2 {
    margin: 0 auto;
    width: 90vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container2 .card {
    position: relative;
}

.container2 .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container2 .card .face.face1 {
    position: relative;
    background: rgb(68, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
    transform: translateY(100px)
}
.container2 .card:hover .face.face1{
    background: rgb(199, 20, 80);
    transform: translateY(0)
}
.container2 .card .face.face1 .content {
    opacity: 0.8;
    transition: 0.5s;
}
.container2 .card:hover .face.face1 .content {
    opacity: 1;
}

.container2 .card .face.face1 .content img {
    max-width: 150px;
    display: inline-block;
    transition: 0.5s;
}
.container2 .card:hover .face.face1 .content img {
    max-width: 100px;
}

.container2 .card .face.face1 .content h3 {
    text-align: center;
    margin: 10px 0 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}

.container2 .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px)
}
.container2 .card:hover .face.face2{
    transform: translateY(0);
}

.container2 .card .face.face2 .content {
    margin: 0px;
    padding: 0px;
}

.container2 .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: justify;
}

.container2 .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    border: 1px solid #333;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
}

.container2 .card .face.face2 .content a:hover {
    background-color: #333;
    color: #fff;
}

.last{
    height: 50px;
}


@media only screen and (max-width: 650px) {
    .container .box {
        position: relative;
        width: 50%;
        height: 50vh;
        overflow: hidden;
        transition: 0.5s all;
    }
    .container .box:last-child  {
        width: 100%;
        height: 50vh;
    }
    
    .container .box .imagebox::before {
        background: linear-gradient(180deg, #262729b7, #262729d0, #262729ab);
        opacity: 1;
        transition: 0.5s;
    }
    
    .container .box:hover .imagebox::before {
        background: linear-gradient(180deg, #2627296b, #26272965, #26272967);
    }
    
  }
@media only screen and (max-width: 450px) {
    header .center h2 a{
        text-decoration: none;
        color: rgb(231, 177, 107);
        font-size: 20px;
    }
    .container .box {
        position: relative;
        width: 100%;
        height: 50vh;
        overflow: hidden;
        transition: 0.5s all;
    }
    .container .box:last-child  {
        width: 100%;
        height: 50vh;
    }
    
    .container .box .imagebox::before {
        background: linear-gradient(180deg, #262729b7, #262729d0, #262729ab);
        opacity: 1;
        transition: 0.5s;
    }
    
    .container .box:hover .imagebox::before {
        background: linear-gradient(180deg, #2627296b, #26272965, #26272967);
    }
    
  }